* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: hidden;
    }
    body {
    background-color: rgb(2, 83, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    }
    h2 ,h5, button, p {
    color: white;
    }
    h5, h2, .texto, .txtEstado {
    font-family: Bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .center, aside, section {
    display: flex;
    justify-content: center;
    }
    .interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 600px;
    }
    .bandeira {
    width: 240px;
    height: 135px;
    border: 0px
    }
    .mapa {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 450px;
    }
    .logo {
    display: flex;
    width: 150px;
    }
    .geral {
    display: flex;
    flex-direction: row;
    }
    path {
    fill: #6ea56e;
    stroke: black;
    stroke-width: 1px;
    }
    path:hover {
    fill: rgb(214, 41, 41);
    stroke: black;
    stroke-width: 2px;
    transition: fill 0.4s;
    }
    .resposta {
    display: flex;
    }
        
    .txtEstado {
    color: yellow;
    }
    .form, .botao {
    margin-top: 20px;
    font-family: Bungee, sans-serif;
    font-size: 12px;
    color: #6b6b6b;
    width: 170px;
    height: 30px;
    border-radius: 0.4rem;
    }