* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
#title {
    color: white;
}
#output {
    color: white;
}
button, p {
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(2, 83, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
h2{
    color: white;
}
.center, aside, section {
    display: flex;
    justify-content: center;
}
.interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 600px;
}
.bandeira {
    width: 240px;
    height: 135px;
}
.mapa {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 450px;
}
.logo {
    display: flex;
    width: 200px;
    height: 150px;
}
.geral {
    display: flex;
    flex-direction: row;
}